<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
	</appSettings>

	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8" />

		<!-- REQUIRED FOR LOGINVIEW, LOGOUT, DASHBOARDS -->
		<authentication mode="Forms">
			<forms loginUrl="~/Login.aspx" timeout="2880" />
		</authentication>

		<authorization>
			<allow users="*" />
		</authorization>

		<sessionState mode="InProc" timeout="30" />
	</system.web>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
	</system.webServer>
</configuration>
